#about_wrapper{
    margin-top:90px ;
}
#text_img_wrapper{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
    margin-top: 100px;
    padding: 10px;
}
#about_text h1{
    font-size: 80px;
}
#about_text{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 10px;
    font-size: 17px;
}
#sign_up_btn{
    width:150px;
    padding: 5px;
    border-radius:2px;
    background-color: #2749AB;
    color: white;
    border: none;
    font-size: 18px;
}
#photo_container img{
    height: 500px;
    margin-top: 40px;
}