#card_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    width: 270px;
    border: 2px solid black;
    padding: 5px;
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 160px;
    /* margin-top: 0px; */
}
#card_text{
    border:2px solid black;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#prev_btn,#next_btn{
    height:50px;
    width:50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}